@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@font-face {
    font-family: Crazy Metro;
    src: url(Crazy_Metro.otf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("./birthday.jpeg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: Crazy Metro;
    margin: 0;
    color: black;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container-left {
    display: flex;
    position: absolute;
    left: 0;
}

.countdown-container-right {
    display: flex;
    position: absolute;
    right: 0;
}

.big-text {
    font-weight: bold;
    font-size: 10vw;
    line-height: 1;
    margin: 1vw 2vw;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2vw;
}