@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@font-face {
    font-family: Crazy Metro;
    src: url(Crazy_Metro.otf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("./birthday.jpeg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: Crazy Metro;
    margin: 0;
    color: black;
}

.countdown-container-left {
    display: flex;
    position: absolute;
    left: 0;
}

.countdown-container-right {
    display: flex;
    position: absolute;
    right: 0;
}

.big-text {
    font-weight: bold;
    font-size: 10vw;
    line-height: 1;
    margin: 1vw 2vw;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2vw;
}

@media screen and (max-width: 800px) {
body {
    background-image: url("birthday_m.jpeg");
}
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}
.loader span{
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.loader :first-child{
    background: #216AD6;
    animation-delay: -1.5s;
}
.loader :nth-child(2){
    background: #FFD960;
    animation-delay: -1s;
}
.loader :nth-child(3){
    background: #D7415D;
    animation-delay: -0.5s;
}
.loader :last-child{
    background: #1F95F2;
}

@keyframes spin{
    0%{transform: translate(0) scale(0)}
    25%{transform: translate(200%) scale(1.5)}
    50%{transform: translate(200%, 200%) scale(0)}
    75%{transform: translate(0, 200%) scale(1.5)}
    100%{transform: translate(0) scale(0)}
}